
{
  "id": "{{service.name}}",
  "cpus": 1.0,
  "mem": 1024,
  "instances": 1,
  "user": "{{service.user}}",
  "cmd": "export LD_LIBRARY_PATH=$MESOS_SANDBOX/libmesos-bundle/lib:$LD_LIBRARY_PATH; export MESOS_NATIVE_JAVA_LIBRARY=$(ls $MESOS_SANDBOX/libmesos-bundle/lib/libmesos-*.so); export JAVA_HOME=$(ls -d $MESOS_SANDBOX/jdk*/jre/); export JAVA_HOME=${JAVA_HOME%%/}; export PATH=$(ls -d $JAVA_HOME/bin):$PATH && export JAVA_OPTS=\"-Xms256M -Xmx512M -XX:-HeapDumpOnOutOfMemoryError\" && ./scheduler-init.sh && ./bootstrap -resolve=false -template=false && ./operator-scheduler/bin/operator svc.yml",
  "labels": {
    "DCOS_COMMONS_API_VERSION": "v1",
    "DCOS_COMMONS_UNINSTALL": "true",
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
    "MARATHON_SINGLE_INSTANCE_APP": "true",
    "DCOS_SERVICE_NAME": "{{service.name}}",
    "DCOS_SERVICE_PORT_INDEX": "0",
    "DCOS_SERVICE_SCHEME": "http"
  },
  {{#service.service_account_secret}}
  "secrets": {
    "serviceCredential": {
      "source": "{{service.service_account_secret}}"
    }
  },
  {{/service.service_account_secret}}
  "env": {
    "PACKAGE_NAME": "%(package-name)s",
    "PACKAGE_VERSION": "%(package-version)s",
    "PACKAGE_BUILD_TIME_EPOCH_MS": "%(time_epoch_ms)s",
    "PACKAGE_BUILD_TIME_STR": "%(time_str)s",
    "FRAMEWORK_NAME": "{{service.name}}",
    "FRAMEWORK_USER": "{{service.user}}",
    "FRAMEWORK_PRINCIPAL": "{{service.service_account}}",
    "FRAMEWORK_LOG_LEVEL": "{{service.log_level}}",
    "MESOS_API_VERSION": "V1",

    "MINIO_ACCESS_KEY": "{{minio.minio_access_key}}",
    "MINIO_SECRET_KEY": "{{minio.minio_secret_key}}",

    "MINIO_SSL_ENABLED": "{{service.ssl_enabled}}",
    "MINIO_SECRETS_ENABLED": "{{minio.enable_secrets}}",

    "MINIO_NODE_COUNT": "{{minio.count}}",
    "MINIO_NODE_PLACEMENT": "{{{minio.placement_constraint}}}",
    {{#service.virtual_network_enabled}}
    "ENABLE_VIRTUAL_NETWORK": "yes",
    "VIRTUAL_NETWORK_NAME": "{{service.virtual_network_name}}",
    "VIRTUAL_NETWORK_PLUGIN_LABELS": "{{service.virtual_network_plugin_labels}}",
    {{/service.virtual_network_enabled}}
    "MINIO_NODE_CPUS": "{{minio.cpus}}",
    "MINIO_NODE_MEM": "{{minio.mem}}",
    "MINIO_NODE_DISK": "{{minio.disk}}",
    "MINIO_NODE_DISK_TYPE": "{{minio.disk_type}}",
    {{#minio.disk_path}}
    "MINIO_NODE_DISK_PATH": "{{minio.disk_path}}",
    {{/minio.disk_path}}
    
    "STHREE_COMPATIBLE_URI": "{{minio.backup_store_endpoint}}",

    {{#minio.cache_enable}}
    "TASKCFG_ALL_MINIO_CACHE_ENABLE": "true",
    "CACHE_DISK": "{{minio.cache_disk}}",
    "CACHE_DISK_TYPE": "{{minio.cache_disk_type}}",
    {{#minio.cache_disk_path}}
    "CACHE_DISK_PATH": "{{minio.cache_disk_path}}",
    {{/minio.cache_disk_path}}
    {{/minio.cache_enable}}

    "MINIO_NODE_PORT": "{{minio.minio_port}}",

    "MINIO_DOCKER_IMAGE": "{{resource.assets.container.docker.minio-cluster}}",
    "MC_DOCKER_IMAGE": "{{resource.assets.container.docker.mc-cluster}}",

    "JAVA_URI": "{{resource.assets.uris.jre-tar-gz}}",
    "MINIO_STATSD_JAR_URI": "{{resource.assets.uris.minio-statsd-jar}}",
    "EXECUTOR_URI": "{{resource.assets.uris.executor-zip}}",
    "BOOTSTRAP_URI": "{{resource.assets.uris.bootstrap-zip}}",
    "MINIO_INIT_SH": "{{resource.assets.uris.minio-init-sh}}",
    "MINIO_SYNCHRONIZE_SH": "{{resource.assets.uris.minio-synchronize-sh}}",
    {{#service.service_account_secret}}
    "DCOS_SERVICE_ACCOUNT_CREDENTIAL": { "secret": "serviceCredential" },
    "MESOS_MODULES": "{\"libraries\":[{\"file\":\"libmesos-bundle\/lib\/mesos\/libdcos_security.so\",\"modules\":[{\"name\": \"com_mesosphere_dcos_ClassicRPCAuthenticatee\"},{\"name\":\"com_mesosphere_dcos_http_Authenticatee\",\"parameters\":[{\"key\":\"jwt_exp_timeout\",\"value\":\"5mins\"},{\"key\":\"preemptive_refresh_duration\",\"value\":\"30mins\"}]}]}]}",
    "MESOS_AUTHENTICATEE": "com_mesosphere_dcos_ClassicRPCAuthenticatee",
    "MESOS_HTTP_AUTHENTICATEE": "com_mesosphere_dcos_http_Authenticatee",
    {{/service.service_account_secret}}    
    "LIBMESOS_URI": "{{resource.assets.uris.libmesos-bundle-tar-gz}}",
    "CONFIG_MUSTACHE_BASE64": "{{minio.CONFIG_MUSTACHE_BASE64}}"
  },
  "fetch": [
    {
      "uri": "{{resource.assets.uris.bootstrap-zip}}",
      "extract": true
    },
    {
      "uri": "{{resource.assets.uris.jre-tar-gz}}",
      "extract": true
    },
    {
      "uri": "{{resource.assets.uris.scheduler-zip}}",
      "extract": true
    },
    {
      "uri": "{{resource.assets.uris.libmesos-bundle-tar-gz}}",
      "extract": true
    },
    {
      "uri": "{{resource.assets.uris.svc}}"
    },
    {
      "uri": "{{resource.assets.uris.scheduler-init-sh}}",
      "executable": true
    },
    {
      "uri": "{{resource.assets.uris.minio-init-sh}}",
      "executable": true
    },
    {
      "uri": "{{resource.assets.uris.minio-synchronize-sh}}",
      "executable": true
    },
    {
      "uri": "{{resource.assets.uris.minio-config}}"
    }
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "healthChecks": [
    {
      "protocol": "MESOS_HTTP",
      "path": "/v1/health",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    }
  ],
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "api",
      "labels": { "VIP_0": "/api.{{service.name}}:80" }
    }
  ]
}
