### General Settings

# MINIO_ACCESS_KEY="minio" # Configured and exported in svc.yml, overriding this value
# MINIO_SECRET_KEY="minio123" # Configured and exported in svc.yml, overriding this value
# MINIO_REGION_NAME="" # (string) name of the location of the server e.g. "us-west-rack2"
# MINIO_REGION_COMMENT="" # (sentence) optionally add a comment to this setting
# MINIO_STORAGE_CLASS_STANDARD="" # (string) set the parity count for default standard storage class e.g. "EC:4"
# MINIO_STORAGE_CLASS_RRS="EC:2" # (string) set the parity count for reduced redundancy storage class e.g. "EC:2"
# MINIO_STORAGE_CLASS_COMMENT="" # (sentence) optionally add a comment to this setting
MINIO_HTTP_TRACE=/mnt/mesos/sandbox/stdout
# MINIO_LOGGER_WEBHOOK_ENABLE="off"
# MINIO_LOGGER_WEBHOOK_ENDPOINT=""
# MINIO_LOGGER_WEBHOOK_AUTH_TOKEN=""
# MINIO_AUDIT_WEBHOOK_ENABLE="off"
# MINIO_AUDIT_WEBHOOK_ENDPOINT=""
# MINIO_AUDIT_WEBHOOK_AUTH_TOKEN=""

{{#MINIO_CACHE_ENABLE}}
MINIO_CACHE_DRIVES="/mnt/mesos/sandbox/cache-path" # (csv) comma separated mountpoints e.g. "/optane1,/optane2"
MINIO_CACHE_EXPIRY="90" # (number) cache expiry duration in days e.g. "90"
MINIO_CACHE_QUOTA="80" # (number) limit cache drive usage in percentage e.g. "90"
MINIO_CACHE_EXCLUDE="" # (csv) comma separated wildcard exclusion patterns e.g. "bucket/*.tmp,*.exe"
# MINIO_CACHE_AFTER="0" # (number) minimum number of access before caching an object
# MINIO_CACHE_WATERMARK_LOW="70" # (number)
# MINIO_CACHE_WATERMARK_HIGH="80" # (number)
# MINIO_CACHE_RANGE="on" # (on|off)
# MINIO_CACHE_COMMENT="" # (sentence) optionally add a comment to this setting
{{/MINIO_CACHE_ENABLE}}

# MINIO_ETCD_ENDPOINTS="" # (csv) comma separated list of etcd endpoints e.g. "http://localhost:2379"
# MINIO_ETCD_PATH_PREFIX="" # (path) namespace prefix to isolate tenants e.g. "customer1/"
# MINIO_ETCD_COREDNS_PATH="" # (path) shared bucket DNS records, default is "/skydns"
# MINIO_ETCD_CLIENT_CERT="" # (path) client cert for mTLS authentication
# MINIO_ETCD_CLIENT_CERT_KEY="" # (path) client cert key for mTLS authentication
# MINIO_ETCD_COMMENT="" # (sentence) optionally add a comment to this setting
# MINIO_API_REQUESTS_MAX="0" # (number) set the maximum number of concurrent requests, e.g. "1600"
# MINIO_API_REQUESTS_DEADLINE="10s" # (duration) set the deadline for API requests waiting to be processed e.g. "1m"
# MINIO_API_READY_DEADLINE="10s"
# MINIO_API_CORS_ALLOW_ORIGIN="*"
# MINIO_ETCD_ENDPOINTS="" # (csv) comma separated list of etcd endpoints e.g. "http://localhost:2379"
# MINIO_ETCD_PATH_PREFIX="" # (path) namespace prefix to isolate tenants e.g. "customer1/"
# MINIO_ETCD_COREDNS_PATH="/skydns" # (path) shared bucket DNS records, default is "/skydns"
# MINIO_ETCD_CLIENT_CERT="" # (path) client cert for mTLS authentication
# MINIO_ETCD_CLIENT_CERT_KEY="" # (path) client cert key for mTLS authentication
# MINIO_ETCD_COMMENT="" # (sentence) optionally add a comment to this setting
# MINIO_DISK_USAGE_CRAWL_DELAY=10
# MINIO_BROWSER=on
# MINIO_DOMAIN=sub1.mydomain.com,sub2.mydomain.com
# MINIO_COMPRESSION_ENABLE="off"
# MINIO_COMPRESSION_EXTENSIONS=".txt,.log,.csv,.json,.tar,.xml,.bin"
# MINIO_COMPRESSION_MIME_TYPES="text/*,application/json,application/xml"
# MINIO_IDENTITY_OPENID_CONFIG_URL=""
# MINIO_IDENTITY_OPENID_CLIENT_ID=""
# MINIO_IDENTITY_OPENID_CLAIM_NAME="policy"
# MINIO_IDENTITY_OPENID_CLAIM_PREFIX=""
# MINIO_IDENTITY_OPENID_SCOPES=""
# MINIO_IDENTITY_OPENID_JWKS_URL=""
# MINIO_IDENTITY_LDAP_SERVER_ADDR=""
# MINIO_IDENTITY_LDAP_USERNAME_FORMAT=""
# MINIO_IDENTITY_LDAP_USERNAME_SEARCH_FILTER=""
# MINIO_IDENTITY_LDAP_USERNAME_SEARCH_BASE_DN=""
# MINIO_IDENTITY_LDAP_GROUP_SEARCH_FILTER=""
# MINIO_IDENTITY_LDAP_GROUP_NAME_ATTRIBUTE=""
# MINIO_IDENTITY_LDAP_GROUP_SEARCH_BASE_DN=""
# MINIO_IDENTITY_LDAP_STS_EXPIRY="1h"
# MINIO_IDENTITY_LDAP_TLS_SKIP_VERIFY="off"
# MINIO_IDENTITY_LDAP_SERVER_INSECURE="off"
# MINIO_IDENTITY_LDAP_SERVER_STARTTLS="off"
# MINIO_POLICY_OPA_URL=""
# MINIO_POLICY_OPA_AUTH_TOKEN=""
# MINIO_KMS_VAULT_ENDPOINT=""
# MINIO_KMS_VAULT_KEY_NAME=""
# MINIO_KMS_VAULT_AUTH_TYPE="approle"
# MINIO_KMS_VAULT_AUTH_APPROLE_ID=""
# MINIO_KMS_VAULT_AUTH_APPROLE_SECRET=""
# MINIO_KMS_VAULT_CAPATH=""
# MINIO_KMS_VAULT_KEY_VERSION=""
# MINIO_KMS_VAULT_NAMESPACE=""
# MINIO_KMS_KES_ENDPOINT=""
# MINIO_KMS_KES_KEY_NAME=""
# MINIO_KMS_KES_CERT_FILE=""
# MINIO_KMS_KES_KEY_FILE=""
# MINIO_KMS_KES_CAPATH=""

### Notify Settings
MINIO_NOTIFY_AMQP_ENABLE="off" # (on|off) enable notify_amqp target, default is 'off'
# MINIO_NOTIFY_AMQP_ENABLE_<NAME>="off"
# MINIO_NOTIFY_AMQP_URL="" # (url) AMQP server endpoint e.g. `amqp://myuser:mypassword@localhost:5672`
# MINIO_NOTIFY_AMQP_EXCHANGE="" # (string) name of the AMQP exchange
# MINIO_NOTIFY_AMQP_EXCHANGE_TYPE="" # (string) AMQP exchange type
# MINIO_NOTIFY_AMQP_ROUTING_KEY="" # (string) routing key for publishing
# MINIO_NOTIFY_AMQP_MANDATORY="" # (on|off) quietly ignore undelivered messages when set to 'off', default is 'on'
# MINIO_NOTIFY_AMQP_DURABLE="" # (on|off) persist queue across broker restarts when set to 'on', default is 'off'
# MINIO_NOTIFY_AMQP_NO_WAIT="" # (on|off) non-blocking message delivery when set to 'on', default is 'off'
# MINIO_NOTIFY_AMQP_INTERNAL="" # (on|off) set to 'on' for exchange to be not used directly by publishers, but only when bound to other exchanges
# MINIO_NOTIFY_AMQP_AUTO_DELETED="" # (on|off) auto delete queue when set to 'on', when there are no consumers
# MINIO_NOTIFY_AMQP_DELIVERY_MODE="" # (number) set to '1' for non-persistent or '2' for persistent queue
# MINIO_NOTIFY_AMQP_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_AMQP_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_AMQP_COMMENT="" # (sentence) optionally add a comment to this setting

MINIO_NOTIFY_MQTT_ENABLE="off" # (on|off) enable notify_mqtt target, default is 'off'
# MINIO_NOTIFY_MQTT_ENABLE_<NAME>="off"
# MINIO_NOTIFY_MQTT_BROKER="" # (uri) MQTT server endpoint e.g. `tcp://localhost:1883`
# MINIO_NOTIFY_MQTT_TOPIC="" # (string) name of the MQTT topic to publish
# MINIO_NOTIFY_MQTT_USERNAME="" # (string) MQTT username
# MINIO_NOTIFY_MQTT_PASSWORD="" # (string) MQTT password
# MINIO_NOTIFY_MQTT_QOS="" # (number) set the quality of service priority, defaults to '0'
# MINIO_NOTIFY_MQTT_KEEP_ALIVE_INTERVAL="" # (duration) keep-alive interval for MQTT connections in s,m,h,d
# MINIO_NOTIFY_MQTT_RECONNECT_INTERVAL="" # (duration) reconnect interval for MQTT connections in s,m,h,d
# MINIO_NOTIFY_MQTT_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_MQTT_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_MQTT_COMMENT="" # (sentence) optionally add a comment to this setting

MINIO_NOTIFY_ELASTICSEARCH_ENABLE="off" # (on|off) enable notify_elasticsearch target, default is 'off'
# MINIO_NOTIFY_ELASTICSEARCH_ENABLE_<NAME>="off"
# MINIO_NOTIFY_ELASTICSEARCH_URL="" # (url) Elasticsearch server's address, with optional authentication info
# MINIO_NOTIFY_ELASTICSEARCH_INDEX="" # (string) Elasticsearch index to store/update events, index is auto-created
# MINIO_NOTIFY_ELASTICSEARCH_FORMAT="" # (namespace*|access) 'namespace' reflects current bucket/object list and 'access' reflects a journal of object operations, defaults to 'namespace'
# MINIO_NOTIFY_ELASTICSEARCH_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_ELASTICSEARCH_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_ELASTICSEARCH_USERNAME="" # (string) username for Elasticsearch basic-auth
# MINIO_NOTIFY_ELASTICSEARCH_PASSWORD="" # (string) password for Elasticsearch basic-auth
# MINIO_NOTIFY_ELASTICSEARCH_COMMENT="" # (sentence) optionally add a comment to this setting

MINIO_NOTIFY_REDIS_ENABLE="off" # (on|off) enable notify_redis target, default is 'off'
# MINIO_NOTIFY_REDIS_ENABLE_<NAME>="off"
# MINIO_NOTIFY_REDIS_KEY="" # (string) Redis key to store/update events, key is auto-created
# MINIO_NOTIFY_REDIS_FORMAT="" # (namespace*|access) 'namespace' reflects current bucket/object list and 'access' reflects a journal of object operations, defaults to 'namespace'
# MINIO_NOTIFY_REDIS_PASSWORD="" # (string) Redis server password
# MINIO_NOTIFY_REDIS_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_REDIS_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_REDIS_COMMENT="" # (sentence) optionally add a comment to this setting

MINIO_NOTIFY_NATS_ENABLE="off" # (on|off) enable notify_nats target, default is 'off'
# MINIO_NOTIFY_NATS_ENABLE_<NAME>="off"
# MINIO_NOTIFY_NATS_ADDRESS="" # (address) NATS server address e.g. '0.0.0.0:4222'
# MINIO_NOTIFY_NATS_SUBJECT="" # (string) NATS subscription subject
# MINIO_NOTIFY_NATS_USERNAME="" # (string) NATS username
# MINIO_NOTIFY_NATS_PASSWORD="" # (string) NATS password
# MINIO_NOTIFY_NATS_TOKEN="" # (string) NATS token
# MINIO_NOTIFY_NATS_TLS="" # (on|off) set to 'on' to enable TLS
# MINIO_NOTIFY_NATS_TLS_SKIP_VERIFY="" # (on|off) trust server TLS without verification, defaults to "on" (verify)
# MINIO_NOTIFY_NATS_PING_INTERVAL="" # (duration) client ping commands interval in s,m,h,d. Disabled by default
# MINIO_NOTIFY_NATS_STREAMING="" # (on|off) set to 'on', to use streaming NATS server
# MINIO_NOTIFY_NATS_STREAMING_ASYNC="" # (on|off) set to 'on', to enable asynchronous publish
# MINIO_NOTIFY_NATS_STREAMING_MAX_PUB_ACKS_IN_FLIGHT="" # (number) number of messages to publish without waiting for ACKs
# MINIO_NOTIFY_NATS_STREAMING_CLUSTER_ID="" # (string) unique ID for NATS streaming cluster
# MINIO_NOTIFY_NATS_CERT_AUTHORITY="" # (string) path to certificate chain of the target NATS server
# MINIO_NOTIFY_NATS_CLIENT_CERT="" # (string) client cert for NATS mTLS auth
# MINIO_NOTIFY_NATS_CLIENT_KEY="" # (string) client cert key for NATS mTLS auth
# MINIO_NOTIFY_NATS_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_NATS_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_NATS_COMMENT="" # (sentence) optionally add a comment to this setting

MINIO_NOTIFY_POSTGRES_ENABLE="off" # (on|off) enable notify_postgres target, default is 'off'
# MINIO_NOTIFY_POSTGRES_ENABLE_<NAME>="off"
# MINIO_NOTIFY_POSTGRES_CONNECTION_STRING="" # (string) Postgres server connection-string e.g. "host=localhost port=5432 dbname=minio_events user=postgres password=password sslmode=disable"
# MINIO_NOTIFY_POSTGRES_TABLE="" # (string) DB table name to store/update events, table is auto-created
# MINIO_NOTIFY_POSTGRES_FORMAT="" # (namespace*|access) 'namespace' reflects current bucket/object list and 'access' reflects a journal of object operations, defaults to 'namespace'
# MINIO_NOTIFY_POSTGRES_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_POSTGRES_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_POSTGRES_COMMENT="" # (sentence) optionally add a comment to this setting
# MINIO_NOTIFY_POSTGRES_MAX_OPEN_CONNECTIONS=2 # (number) maximum number of open connections to the database, defaults to '2'

MINIO_NOTIFY_MYSQL_ENABLE="off" # (on|off) enable notify_mysql target, default is 'off'
# MINIO_NOTIFY_MYSQL_ENABLE_<NAME>="off"
# MINIO_NOTIFY_MYSQL_DSN_STRING="" # (string) MySQL data-source-name connection string e.g. "<user>:<password>@tcp(<host>:<port>)/<database>"
# MINIO_NOTIFY_MYSQL_TABLE="" # (string) DB table name to store/update events, table is auto-created
# MINIO_NOTIFY_MYSQL_FORMAT="" # (namespace*|access) 'namespace' reflects current bucket/object list and 'access' reflects a journal of object operations, defaults to 'namespace'
# MINIO_NOTIFY_MYSQL_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_MYSQL_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_MYSQL_MAX_OPEN_CONNECTIONS="" # (number) maximum number of open connections to the database, defaults to '2'
# MINIO_NOTIFY_MYSQL_COMMENT="" # (sentence) optionally add a comment to this setting

MINIO_NOTIFY_KAFKA_ENABLE="off" # (on|off) enable notify_kafka target, default is 'off'
# MINIO_NOTIFY_KAFKA_ENABLE_<NAME>="off"
# MINIO_NOTIFY_KAFKA_BROKERS="" # (csv) comma separated list of Kafka broker addresses
# MINIO_NOTIFY_KAFKA_TOPIC="" # (string) Kafka topic used for bucket notifications
# MINIO_NOTIFY_KAFKA_SASL_USERNAME="" # (string) username for SASL/PLAIN or SASL/SCRAM authentication
# MINIO_NOTIFY_KAFKA_SASL_PASSWORD="" # (string) password for SASL/PLAIN or SASL/SCRAM authentication
# MINIO_NOTIFY_KAFKA_SASL_MECHANISM="" # (plain*|sha256|sha512) sasl authentication mechanism, default 'plain'
# MINIO_NOTIFY_KAFKA_TLS_CLIENT_AUTH="" # (string) clientAuth determines the Kafka server's policy for TLS client auth
# MINIO_NOTIFY_KAFKA_SASL="" # (on|off) set to 'on' to enable SASL authentication
# MINIO_NOTIFY_KAFKA_TLS="" # (on|off) set to 'on' to enable TLS
# MINIO_NOTIFY_KAFKA_TLS_SKIP_VERIFY="" # (on|off) trust server TLS without verification, defaults to "on" (verify)
# MINIO_NOTIFY_KAFKA_CLIENT_TLS_CERT="" # (path) path to client certificate for mTLS auth
# MINIO_NOTIFY_KAFKA_CLIENT_TLS_KEY="" # (path) path to client key for mTLS auth
# MINIO_NOTIFY_KAFKA_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_KAFKA_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_KAFKA_COMMENT="" # (sentence) optionally add a comment to this setting
# MINIO_NOTIFY_KAFKA_VERSION="" # (string) specify the version of the Kafka cluster e.g. '2.2.0'

MINIO_NOTIFY_WEBHOOK_ENABLE="off" # (on|off) enable notify_webhook target, default is 'off'
# MINIO_NOTIFY_WEBHOOK_ENABLE_<NAME>="off"
# MINIO_NOTIFY_WEBHOOK_ENDPOINT="" # (url) webhook server endpoint e.g. http://localhost:8080/minio/events
# MINIO_NOTIFY_WEBHOOK_AUTH_TOKEN="" # (string) opaque string or JWT authorization token
# MINIO_NOTIFY_WEBHOOK_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_WEBHOOK_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_WEBHOOK_COMMENT="" # (sentence) optionally add a comment to this setting
# MINIO_NOTIFY_WEBHOOK_CLIENT_CERT="" # (string) client cert for Webhook mTLS auth
# MINIO_NOTIFY_WEBHOOK_CLIENT_KEY="" # (string) client cert key for Webhook mTLS auth

MINIO_NOTIFY_NSQ_ENABLE="off" # (on|off) enable notify_nsq target, default is 'off'
# MINIO_NOTIFY_NSQ_ENABLE_<NAME>="off"
# MINIO_NOTIFY_NSQ_NSQD_ADDRESS="" # (address) NSQ server address e.g. '127.0.0.1:4150'
# MINIO_NOTIFY_NSQ_TOPIC="" # (string) NSQ topic
# MINIO_NOTIFY_NSQ_TLS="" # (on|off) set to 'on' to enable TLS
# MINIO_NOTIFY_NSQ_TLS_SKIP_VERIFY="" # (on|off) trust server TLS without verification, defaults to "on" (verify)
# MINIO_NOTIFY_NSQ_QUEUE_DIR="" # (path) staging dir for undelivered messages e.g. '/home/events'
# MINIO_NOTIFY_NSQ_QUEUE_LIMIT="" # (number) maximum limit for undelivered messages, defaults to '100000'
# MINIO_NOTIFY_NSQ_COMMENT="" # (sentence) optionally add a comment to this setting