{
	"version": "27",
	"credential": {
		"accessKey": "minio",
		"secretKey": "minio123"
	},
	"region": "",
	"browser": "on",
	"worm": "off",
	"domain": "",
	"storageclass": {
		"standard": "",
		"rrs": ""
	},
	"cache": {
		"drives": [],
		"expiry": 90,
		"maxuse": 80,
		"exclude": []
	},
	"notify": {
		"amqp": {
			"1": {
				"enable": {{NOTIFY_AMQP_ENABLE}},
				"url": "{{NOTIFY_AMQP_URL}}",
				"exchange": "{{NOTIFY_AMQP_EXCHANGE}}",
				"routingKey": "{{NOTIFY_AMQP_ROUTINGKEY}}",
				"exchangeType": "{{NOTIFY_AMQP_EXCHANGETYPE}}",
				"deliveryMode": {{NOTIFY_AMQP_DELIVERYMODE}},
				"mandatory": {{NOTIFY_AMQP_MANDATORY}},
				"immediate": {{NOTIFY_AMQP_IMMEDIATE}},
				"durable": {{NOTIFY_AMQP_DURABLE}},
				"internal": {{NOTIFY_AMQP_INTERNAL}},
				"noWait": {{NOTIFY_AMQP_NOWAIT}},
				"autoDeleted": {{NOTIFY_AMQP_AUTODELETE}}
			}
		},
		"elasticsearch": {
			"1": {
				"enable": {{NOTIFY_ELASTICSEARCH_ENABLE}},
				"format": "{{NOTIFY_ELASTICSEARCH_FORMAT}}",
				"url": "{{NOTIFY_ELASTICSEARCH_URL}}",
				"index": "{{NOTIFY_ELASTICSEARCH_INDEX}}"
			}
		},
		"kafka": {
			"1": {
				"enable": {{NOTIFY_KAFKA_ENABLE}},
				"brokers": ["{{NOTIFY_KAFKA_BROKERS}}"],
				"topic": "{{NOTIFY_KAFKA_TOPIC}}"
			}
		},
		"mqtt": {
			"1": {
				"enable": {{NOTIFY_MQTT_ENABLE}},
				"broker": "{{NOTIFY_MQTT_BROKER}}",
				"topic": "{{NOTIFY_MQTT_TOPIC}}",
				"qos": {{NOTIFY_MQTT_QOS}},
				"clientId": "{{NOTIFY_MQTT_CLIENTID}}",
				"username": "{{NOTIFY_MQTT_USERNAME}}",
				"password": "{{NOTIFY_MQTT_PASSWORD}}",
				"reconnectInterval": {{NOTIFY_MQTT_RECONNECTINTERVAL}},
				"keepAliveInterval": {{NOTIFY_MQTT_KEEPALIVEINTERVAL}}
			}
		},
		"mysql": {
			"1": {
				"enable": {{NOTIFY_MYSQL_ENABLE}},
				"format": "{{NOTIFY_MYSQL_FORMAT}}",
				"dsnString": "{{NOTIFY_MYSQL_DSNSTRING}}",
				"table": "{{NOTIFY_MYSQL_TABLE}}",
				"host": "{{NOTIFY_MYSQL_HOST}}",
				"port": "{{NOTIFY_MYSQL_PORT}}",
				"user": "{{NOTIFY_MYSQL_USER}}",
				"password": "{{NOTIFY_MYSQL_PASSWORD}}",
				"database": "{{NOTIFY_MYSQL_DATABASE}}"
			}
		},
		"nats": {
			"1": {
				"enable": {{NOTIFY_NATS_ENABLE}},
				"address": "{{NOTIFY_NATS_ADDRESS}}",
				"subject": "{{NOTIFY_NATS_SUBJECT}}",
				"username": "{{NOTIFY_NATS_USERNAME}}",
				"password": "{{NOTIFY_NATS_PASSWORD}}",
				"token": "{{NOTIFY_NATS_TOKEN}}",
				"secure": {{NOTIFY_NATS_SECURE}},
				"pingInterval": {{NOTIFY_NATS_PINGINTERVAL}},
				"streaming": {
					"enable": {{NOTIFY_NATS_STREAMING_ENABLE}},
					"clusterID": "{{NOTIFY_NATS_STREAMING_CLUSTERID}}",
					"clientID": "{{NOTIFY_NATS_STREAMING_CLUSTERID}}",
					"async": {{NOTIFY_NATS_STREAMING_ASYNC}},
					"maxPubAcksInflight": {{NOTIFY_NATS_STREAMING_MAXPUBACKSINFLIGHT}}
				}
			}
		},
		"postgresql": {
			"1": {
				"enable": {{NOTIFY_POSTGRESQL_ENABLE}},
				"format": "{{NOTIFY_POSTGRESQL_FORMAT}}",
				"connectionString": "{{NOTIFY_POSTGRESQL_CONNECTIONSTRING}}",
				"table": "{{NOTIFY_POSTGRESQL_TABLE}}",
				"host": "{{NOTIFY_POSTGRESQL_HOST}}",
				"port": "{{NOTIFY_POSTGRESQL_PORT}}",
				"user": "{{NOTIFY_POSTGRESQL_USER}}",
				"password": "{{NOTIFY_POSTGRESQL_PASSWORD}}",
				"database": "{{NOTIFY_POSTGRESQL_DATABASE}}"
			}
		},
		"redis": {
			"1": {
				"enable": {{NOTIFY_REDIS_ENABLE}},
				"format": "{{NOTIFY_REDIS_FORMAT}}",
				"address": "{{NOTIFY_REDIS_ADDRESS}}",
				"password": "{{NOTIFY_REDIS_PASSWORD}}",
				"key": "{{NOTIFY_REDIS_KEY}}"
			}
		},
		"webhook": {
			"1": {
				"enable": {{NOTIFY_WEBHOOK_ENABLE}},
				"endpoint": "{{NOTIFY_WEBHOOK_ENDPOINT}}"
			}
		}
	},
	"logger": {
		"console": {
			"enabled": true
		},
		"http": {
			"target1": {
				"enabled": false,
				"endpoint": "https://username:password@example.com/api"
			}
		}
	}
}
